<!doctype html>
<html>
<head>
    {% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ TITLE }}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL_PATH }}/img/favicon.png">
    <link href="{{ STATIC_URL_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL_PATH }}/css/default.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="{{ STATIC_URL_PATH }}/js/html5shiv.min.js"></script>
            <script src="{{ STATIC_URL_PATH }}/js/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        <h2 class="logo"><a href="/">{{ SITENAME }}</a></h2>
        <p>{{ SUBNAME }}</p>
    </div>
    {% block container %}
    {% endblock %}
    <div class="footer text-right">
        <p>本网站域名由<a target="_blank" href="http://phpor.me">phpor.me站长</a>赞助</p>
    </div>
</div>
<div style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1252941534'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1252941534' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>